#friends-screen .status-bar,
#friends-screen .screen-header{
    background-color: white;
}

.test {
    padding-top: 110px;
}

#friends-display-link {
    text-align: center; 
    display: block;
    background-color: var(--mint);
    padding: 15px 0;
    font-size: 18px;
    margin-bottom: 10px;
    color: gray;
}

#friends-display-link i {
    color: gray;
}

.friends-screen {
    padding: 0;
    margin-bottom: 150px;
}

.friends-screen__channel {
    margin-top: 25px;  
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

.profile__music {
    padding: 5px 7px;
  
    width: fit-content;
    height: fit-content;
  
    border: 2px solid green;
    border-radius: 20px;
  
    font-size: var(--x-small-font-size);
    font-weight: var(--light-font-weight);
    color: rgba(0, 0, 0, 0.5);
  
    background: white;

  }
  .profile__music i {
    padding: 2px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
  }
@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 2s;
    z-index: 99;
}

#splash-screen img {
    width: 30px;
}

#splash-screen .bbang,
#splash-screen .talk {
    display: flex;

}

#splash-screen .talk {
    margin-top: 25px;
}
  /*user component*/

  .fa-comment-alt {
    padding-right: 20px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.4);
  }
  
  .user-component__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .more-user {
    margin-bottom: 25px;
  }
  .user-component__column > a > img:hover {
    will-change: transform;
    animation: biggerImg 0.5s linear infinite;
  }
